.content-header {
  background-color: #ffffff;
  display: flex;
  padding: 0 1rem;
  height: 62px;
  border-bottom: 1px solid #ddd;
}

.message-content {
  flex: 1;
  background-color: #ffffff;
  padding: 2rem 1.25rem;
  overflow-y: scroll;
}

.message-input {
  background-color: #ffffff;
  border-top: 1px solid #fafafa;
  padding: 0 1.25rem 16px;
}
