.header-title {
  font-size: 18px;
  font-weight: 900;
  margin-top: 8px;
  margin-bottom: 8px;

  &.channel {
    &:before {
      font-family: 'evericons';
      content: "\e92e";
      font-size: 16px;
      position: relative;
      top: 1px;
    }
  }
}
.member-count {
  color: #6a696a;
  font-size: 13px;
}
