<div class="sidebar-header">
  <h2 class="text-nowrap organization-name">Company name name name name name name name name</h2>
  <p class="user-name text-nowrap"><span class="status online"></span>Endurance Ekhoragbon</p>
</div>
<div class="sidebar-container">
  <div class="channel-button">
    <a href="#" class="sidebar-name">Channels</a>
    <button><span class="ev-circle-plus"></span></button>
  </div>
  <div class="list-item active">
    <a class="text-nowrap" href="#">
      <span class="sidebar-name channel">general</span>
      <span class="message-count">1</span>
    </a>
  </div>
  <div class="list-item">
    <a class="text-nowrap" href="#">
      <span class="sidebar-name channel">random</span>
<!--      <span class="message-count"></span>-->
    </a>
  </div>
  <div class="list-item">
    <a class="text-nowrap" href="#">
      <span class="sidebar-name channel">fun stuffs</span>
<!--      <span class="message-count"></span>-->
    </a>
  </div>
  <div class="list-item">
    <a class="text-nowrap" href="#">
      <span class="sidebar-name channel">its just a long text to show ellipse</span>
      <span class="message-count">24598</span>
    </a>
  </div>

  <div class="channel-button">
    <a href="#" class="sidebar-name">Direct Messages</a>
    <button><span class="ev-circle-plus"></span></button>
  </div>
  <div class="list-item">
    <a class="text-nowrap" href="#">
      <span class="sidebar-name"><span class="status online"></span> Theophilus Omoregbee</span>
      <span class="message-count">1</span>
    </a>
  </div>
  <div class="list-item">
    <a class="text-nowrap" href="#">
      <span class="sidebar-name"><span class="status offline"></span> Collins</span>
    </a>
  </div>
  <div class="list-item">
    <a class="text-nowrap" href="#">
      <span class="sidebar-name"><span class="status offline"></span> John Smith</span>
<!--      <span class="message-count"></span>-->
    </a>
  </div>

</div>
