<div class="sidebar-header">
  <h2 class="text-nowrap organization-name">Company name name name name name name name name</h2>
  <p class="user-name text-nowrap"><span class="status online"></span>Endurance Ekhoragbon</p>
</div>
<div class="sidebar-container">
  <div class="channel-button">
    <a routerLink="/search-channel" class="sidebar-name">Channels</a>
    <button (click)="openLink('/new-channel')"><span class="ev-circle-plus"></span></button>
  </div>
  <div class="list-item" routerLinkActive="active" *ngFor="let channel of channels">
    <a class="text-nowrap" routerLink="channel/{{channel.name}}">
      <span class="sidebar-name channel">{{channel.name}}</span>
      <span class="message-count" *ngIf="channel.unread">{{channel.unread}}</span>
    </a>
  </div>

  <div class="channel-button">
    <a routerLink="/new-message" class="sidebar-name">Direct Messages</a>
    <button (click)="openLink('/new-message')"><span class="ev-circle-plus"></span></button>
  </div>
  <div class="list-item" routerLinkActive="active" *ngFor="let dm of directMessages">
    <a class="text-nowrap" routerLink="message/{{dm.name}}">
      <span class="sidebar-name"><span class="status" [ngClass]="{online: dm.active}"></span> {{dm.name}}</span>
      <span class="message-count" *ngIf="dm.unread">{{dm.unread}}</span>
    </a>
  </div>
</div>
