.channel {
  font-weight: 900;;

  &:before {
    font-family: 'evericons';
    content: "\e92e";
    position: relative;
    top: 1px;
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
