.container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}
.sidebar {
  width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #3f0e40;

  .sidebar-header {
    background-color: yellow;
    flex-basis: 62px;
  }
  .sidebar-container {
    background-color: blue;
    flex: 1;
    overflow-y: scroll;
  }
}
.main-content {
  background-color: azure;
  width: 100%;
  display: flex;
  flex-direction: column;

  .content-header {
    background-color: aqua;
    width: 100%;
    flex-basis: 62px;
  }
  .message-content {
    flex: 1;
    background-color: firebrick;
    overflow-y: scroll;
  }
  .message-input {
    flex-basis: 66px;
    background-color: aqua;
    width: 100%;
  }
}

.text-nowrap {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
