<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="sidebar">
    <div class="sidebar-header">
      <h2 class="text-nowrap">Company name name name name name name name name</h2>
      <p>Username</p>
    </div>
    <div class="sidebar-container">
      SideBar Container
      <div style="height: 500px">Message content</div>
      <div style="height: 500px">Message content</div>
      <div style="height: 500px">Message content</div>
      <div style="height: 500px">Message content</div>
      <div style="height: 500px">Message content</div>
    </div>

  </div>
  <div class="main-content">
    <div class="content-header">
      Header
    </div>
    <div class="message-content">
      <div style="height: 500px">Message content</div>
      <div style="height: 500px">Message content</div>
      <div style="height: 500px">Message content</div>
      <div style="height: 500px">Message content</div>
      <div style="height: 500px">Message content</div>
    </div>
    <div class="message-input">
      Input
    </div>
  </div>
</div>

