.container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}
.sidebar {
  width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #3f0e40;
}
.main-content {
  background-color: azure;
  width: 100%;
  display: flex;
  flex-direction: column;
}
