<h2 class="message-title channel">general</h2>
<div class="">
  <a href="#" class="user-highlight">Endurance Ekhoragbon</a>  created this channel on February 26th. This is the very beginning of the <span class="channel">general</span> channel
</div>

<div class="title-divider">
  <hr>
  <div class="subtitle-container"><span class="subtitle">Tuesday, February 26th</span></div>
</div>

<div class="message-block">
  <a href="#" class="user-avatar">
    <img src="assets/imgs/eddieos.jpeg" alt="">
  </a>

  <div class="message-text">
    <div>
      <a href="#" class="user-name">Endurance Ekhoragbon</a>
      <span class="timestamp">8:09 AM</span>
      <div class="message">Hello thanks for viewing my slack ui clone</div>
    </div>
    <div class="message"><span class="timestamp">8:25 AM</span> Hope you enjoy using it </div>
  </div>
</div>

<div class="message-block">
  <a href="#" class="user-avatar">
    <img src="assets/imgs/theophy.jpeg" alt="">
  </a>

  <div class="message-text">
    <div>
      <a href="#" class="user-name">Theophilus Omoregbee</a>
      <span class="timestamp">9:00 AM</span>
      <div class="message">Thanks <a href="#" class="user-highlight tooltips">Endurance Ekhoragbon</a> this is a very nice slack clone UI</div>
    </div>
    <div>
      <a href="#" class="user-name">Ozioma Ogbe</a>
      <span class="timestamp">9:47 AM</span>
      <div class="message">Hi <a href="#" class="user-highlight tooltips">Endurance Ekhoragbon</a> did you prepare my lunch?</div>
    </div>
  </div>
</div>
